
<div class="container">
    <div class="row">
  
         <div class="card">
           <div class="col-md-6">
  
          <img src="<%=person.Image%>" width="500px" height="250px"class="rounded float-left" alt="images">
  <ul class="list-group">
  
  </div></div>
  
  <div class="card">
    <div class="col-md-6">
          <li class="list-group-item disabled"><%=person.city%></li>
          <li class="list-group-item">class:<%=person.class%></li>
          <li class="list-group-item">price:<%=person.price%></li>
          <li class="list-group-item">quota left:<%=person.quota%></li>
          <li class="list-group-item">valid till:<%=person.deal%></li>
          <li class="list-group-item">dates<%=person.daterange%></li>
        </ul>
  </div></div>
  
  </div>
  </div>
  